MYSQL_DATABASE=pedidos
MYSQL_USER=pedidos_usuario
MYSQL_PASSWORD=pedidos_clave
MYSQL_ROOT_PASSWORD=root_clave
JWT_SECRETO=cambia-esta-llave
JWT_ALGORITMO=HS256
JWT_EXPIRACION_MINUTOS=480
ADMIN_NOMBRE=Administrador
ADMIN_CORREO=admin@gestion-pedidos.local
ADMIN_CLAVE=Admin123!
PMA_PORT=8081
